In [1]:
import pandas as pd

In [119]:
data = pd.read_csv('ph15928026353__Justeat_p.csv')
data.shape

(98, 1)

In [120]:
data.head()

                                            Cuisines
0  [{'name': 'Pizza', 'uniqueName': 'pizza'}, {'n...
1  [{'name': 'Indian', 'uniqueName': 'indian'}, {...
2  [{'name': 'Chinese', 'uniqueName': 'chinese'},...
3  [{'name': 'Chinese', 'uniqueName': 'chinese'},...
4  [{'name': 'Chinese', 'uniqueName': 'chinese'},...

In [85]:
for index, cuisine_str in enumerate(data['Cuisines']):
    cuisine_list = ast.literal_eval(cuisine_str)
    names = [cuisine['name'] for cuisine in cuisine_list]
    print(index, names)

0 ['Pizza', 'Fish & Chips']
1 ['Indian', 'European', 'Halal', 'Collect stamps', 'Deals']
2 ['Chinese', 'Thai']
3 ['Chinese', 'Thai']
4 ['Chinese', 'Noodles', 'Local Legends']
5 ['Pizza', 'Kebab', 'Halal', 'Low Delivery Fee', 'Deals']
6 ['Indian', 'Curry', 'Halal']
7 ['Chinese', 'Thai', 'Collect stamps']
8 ['Kebab', 'Pizza', 'Deals']
9 ['Fish & Chips', 'Indian', 'Collect stamps', 'Deals']
10 ['Kebab', 'Pizza', 'Collect stamps']
11 ['Chinese', 'Thai']
12 ['Hungarian', 'Street Food']
13 ['Burgers', 'Pizza']
14 ['Pizza', 'Pasta', 'Collect stamps']
15 ['Pizza', 'Burgers', 'Collect stamps']
16 ['Japanese', 'Asian', 'Lunch']
17 ['Kebab', 'Café', 'Lunch', 'Low Delivery Fee']
18 ['Indian', 'Curry']
19 ['Chinese', 'Thai']
20 ['Chinese', 'Noodles']
21 ['Desserts', 'Ice Cream', 'Collect stamps']
22 ['Indian', 'Curry', 'Halal', 'Deals']
23 ['Malaysian', 'Chinese']
24 ['Indian', 'Curry', 'Halal', 'Collect stamps']
25 ['Kebab', 'Pizza', 'Halal', 'Collect stamps']
26 ['Indian', 'Curry', 'Halal', 'Collect stamps', 'Deals']
27 ['Indian', 'Curry', 'Collect stamps', 'Deals']
28 ['Burgers', 'Chicken', 'Lunch', 'Deals', 'Freebies']
29 ['Indian', 'Nepalese', 'Collect stamps', 'Deals']
30 ['Chicken', 'American', 'Lunch', 'Deals']
31 ['Chicken', 'American', 'Lunch', 'Deals']
32 ['Indian', 'Kebab']
33 ['Burgers', 'Chicken', 'Lunch', 'Deals', 'Freebies']
34 ['British', 'Carvery']
35 ['Chicken', 'Burgers', 'Lunch', 'Deals']
36 ['American', 'Italian', 'Lunch', 'Burgers', 'Deals']
37 ['British', 'Grill', 'Low Delivery Fee', 'Deals']
38 ['Kebab', 'Turkish', 'Low Delivery Fee', 'Deals']
39 ['Chinese', 'Oriental']
40 ['Sandwiches', 'Lunch']
41 ['Fish & Chips', 'Burgers', 'Low Delivery Fee']
42 ['Pizza', 'American', 'Collect stamps']
43 ['Burgers', 'American', 'Lunch', 'Deals']
44 ['Burgers', 'Chicken', 'Lunch', 'Deals', 'Freebies']
45 ['Desserts', 'Milkshakes', 'Collect stamps', 'Deals']
46 ['Indian', 'Burgers', 'Halal', 'Collect stamps']
47 ['Fish & Chips', 'Breakfast', 'Collect stamps', 'Lunch']
48 ['Sandwiches', 'Lunch']
49 ['Italian', 'Burgers']
50 ['Sandwiches', 'Lunch']
51 ['Fish & Chips', 'Kebab']
52 ['Breakfast', 'Pizza', 'Lunch', 'Low Delivery Fee']
53 ['Breakfast', 'Lunch', 'Collect stamps']
54 ['Desserts', 'American']
55 ['Fish & Chips', 'Burgers', 'Low Delivery Fee']
56 ['Indian', 'Halal']
57 ['Sandwiches', 'Lunch', 'Collect stamps']
58 ['American', 'Burgers', 'Deals']
59 ['Thai', 'Noodles', 'Collect stamps']
60 ['Indian', 'Kebab', 'Deals']
61 ['American', 'Burgers', 'Deals']
62 ['Pizza', 'Desserts', 'Collect stamps']
63 ['Italian', 'Mediterranean', 'Low Delivery Fee', 'Deals']
64 ['Italian', 'Pizza', 'Collect stamps', 'Deals']
65 ['Fish & Chips', 'Burgers']
66 ['Chinese', 'Chicken', 'Halal', 'Deals']
67 ['Thai', 'Chinese', 'Deals', 'Freebies']
68 ['Fish & Chips', 'Burgers']
69 ['Desserts', 'Ice Cream', 'Low Delivery Fee']
70 ['Turkish', 'Kebab', 'Low Delivery Fee']
71 ['Café', 'Desserts', 'Lunch']
72 ['Pizza', 'American', 'Collect stamps', 'Deals']
73 ['Pizza', 'American', 'Deals']
74 ['Chinese', 'Chicken', 'Halal', 'Deals']
75 ['Burgers', 'Chicken', 'Lunch', 'Sandwiches']
76 ['Pizza', 'Kebab']
77 ['Pizza', 'Kebab', 'Collect stamps']
78 ['Burgers', 'Chicken', 'Lunch', 'Sandwiches']
79 ['Mexican', 'Burritos', 'Lunch', 'Sandwiches']
80 ['Fish & Chips', 'Burgers', 'Collect stamps']
81 ['Kebab', 'Pizza', 'Collect stamps']
82 ['Sandwiches', 'Breakfast', 'Lunch']
83 ['Burgers', 'Chicken', 'Lunch', 'Sandwiches', 'Low Delivery Fee']
84 ['Sandwiches', 'Breakfast', 'Lunch']
85 ['Chinese', 'Thai']
86 ['Italian', 'Pizza']
87 ['Italian', 'Pizza', 'Deals']
88 ['Italian', 'Pizza', 'Collect stamps', 'Deals']
89 ['Sandwiches', "Panini's"]
90 ['Italian', 'Pizza', 'Lunch']
91 ['Peri Peri', 'Chicken', 'Collect stamps']
92 ['Kebab', 'Turkish', 'Low Delivery Fee']
93 ['Fish & Chips', 'Desserts', 'Low Delivery Fee']
94 ['Desserts', 'Ice Cream', 'Deals']
95 ['Bubble Tea', 'Asian', 'Collect stamps', 'Deals', 'Freebies']
96 ['Fish & Chips', 'British']
97 ['Indian', 'Curry']

In [121]:
import ast

extracted_names = []

for cuisine_str in data['Cuisines']:
    cuisine_list = ast.literal_eval(cuisine_str)
    names = [cuisine['name'] for cuisine in cuisine_list]
    names_str = ', '.join(names)
    extracted_names.append(names_str)

data['Cuisine Names'] = extracted_names

In [122]:
extracted_unique_names = []

for cuisine_str in data['Cuisines']:
    cuisine_list = ast.literal_eval(cuisine_str)
    names = [cuisine['uniqueName'] for cuisine in cuisine_list]
    names_str = ', '.join(names)
    extracted_unique_names.append(names_str)

data['Cuisine Unique Names'] = extracted_unique_names

In [127]:
data

,Cuisines,Cuisine Names,Cuisine Unique Names
0,"[{'name': 'Pizza', 'uniqueName': 'pizza'}, {'n...","Pizza, Fish & Chips","pizza, fish-and-chips"
1,"[{'name': 'Indian', 'uniqueName': 'indian'}, {...","Indian, European, Halal, Collect stamps, Deals","indian, european, halal, stampcard-restaurants..."
2,"[{'name': 'Chinese', 'uniqueName': 'chinese'},...","Chinese, Thai","chinese, thai"
3,"[{'name': 'Chinese', 'uniqueName': 'chinese'},...","Chinese, Thai","chinese, thai"
4,"[{'name': 'Chinese', 'uniqueName': 'chinese'},...","Chinese, Noodles, Local Legends","chinese, noodles, local-legends"
...,...,...,...
93,"[{'name': 'Fish & Chips', 'uniqueName': 'fish-...","Fish & Chips, Desserts, Low Delivery Fee","fish-and-chips, desserts, low-delivery-fee"
94,"[{'name': 'Desserts', 'uniqueName': 'desserts'...","Desserts, Ice Cream, Deals","desserts, icecream, deals"
95,"[{'name': 'Bubble Tea', 'uniqueName': 'bubble-...","Bubble Tea, Asian, Collect stamps, Deals, Free...","bubble-tea, asian, stampcard-restaurants, deal..."
96,"[{'name': 'Fish & Chips', 'uniqueName': 'fish-...","Fish & Chips, British","fish-and-chips, british"
97,"[{'name': 'Indian', 'uniqueName': 'indian'}, {...","Indian, Curry","indian, curry"

In [95]:
import mysql.connector

connection = mysql.connector.connect(
    host='p3nlmysql165plsk.secureserver.net',
    user='gholi_pour__',
    password='2024data_Wee%159159gholipour%$%',
    database='ph15928026353_'
)

cursor = connection.cursor(dictionary=True)

In [97]:
cursor.execute("SELECT * FROM Justeat_p")
myresult = cursor.fetchall()

# Foodhub

## creating a new column

In [142]:
data = pd.read_csv('foodhub.csv')
data.shape

(100, 30)

In [143]:
data.columns

Index(['id', 'FoodHub_ID', 'Name', 'Description', 'Phone', 'Host', 'URL',
       'Country', 'Region', 'City', 'Street', 'Number', 'Postcode', 'Latitude',
       'Longitude', 'Rating', 'Total_Reviews', 'Opening_hours',
       'Review_Categories', 'Cuisines', 'Merchant_ID', 'Delivery_Time',
       'Collection_Time', 'Town', 'Facebook', 'Twitter', 'Android_Link',
       'Title', 'Keywords', 'SEO'],
      dtype='object')

In [146]:
data['full_address'] = (
    data['Country'].fillna('') + ' ' +
    data['Region'].fillna('') + ' ' +
    data['City'].fillna('') + ' ' +
    data['Street'].fillna('') + ' ' +
    data['Number'].fillna('') + ' ' +
    data['Postcode'].fillna('')
)

## connection to database

In [25]:
import mysql.connector

connection = mysql.connector.connect(
    host='p3nlmysql165plsk.secureserver.net',
    user='gholi_pour__',
    password='2024data_Wee%159159gholipour%$%',
    database='ph15928026353_'
)

cursor = connection.cursor()

In [26]:
select_query = "SELECT id, Country, Region, City, Street, Number, Postcode FROM Foodhub_l1"
cursor.execute(select_query)
rows = cursor.fetchall()

In [29]:
update_query = """
UPDATE Foodhub_l1
SET full_address = %s
WHERE id = %s
"""

for row in rows:
    id, Country, Region, City, Street, Number, Postcode = row
    full_address = (
        (Country or '') + ' ' +
        (Region or '') + ' ' +
        (City or '') + ' ' +
        (Street or '') + ' ' +
        (Number or '') + ' ' +
        (Postcode or '')
    ).strip()

    cursor.execute(update_query, (full_address, id))

    connection.commit()
    print(f"Updated row ID: {id} with full_address: {full_address}")

cursor.close()
connection.close()

Updated row ID: 1 with full_address: United Kingdom UK    810116
Updated row ID: 2 with full_address: United Kingdom UK Stoke On Trent Farndale Street 45 ST6 5DF
Updated row ID: 3 with full_address: United Kingdom UK Newcastle Under Lyme London Road 41 ST5 7EA
Updated row ID: 4 with full_address: United Kingdom UK Reading Basingstoke Road 75 RG2 0ER
Updated row ID: 5 with full_address: United Kingdom UK Stoke On Trent Crewe Road 86 ST7 2JA
Updated row ID: 6 with full_address: United Kingdom UK Cheshire Mill Street 112 SK11 6NR
Updated row ID: 7 with full_address: United Kingdom UK Stoke On Trent Waterloo Road 58 ST6 3EX
Updated row ID: 8 with full_address: United Kingdom UK Scotland East Norton Place 7 EH7 5DR
Updated row ID: 9 with full_address: United Kingdom UK Stoke-on-Trent Victoria Road 92 ST4 2JX
Updated row ID: 10 with full_address: United Kingdom UK Manchester Wilmslow Road 324-326 M14 6XQ
Updated row ID: 11 with full_address: United Kingdom UK Stoke-On-Trent Uttoxeter Road 311 ST11 9QA
Updated row ID: 12 with full_address: United Kingdom UK Stoke On Trent Commerce Street 3-5 ST3 1NW
Updated row ID: 13 with full_address: United Kingdom UK Essex Goresbrook Road 18 RM9 6UR
Updated row ID: 14 with full_address: United Kingdom UK Newcastle-Under-Lyme Cambridge Court  3 ST5 3DA
Updated row ID: 15 with full_address: United Kingdom UK Nantwich Welsh Row 19  CW5 5ED
Updated row ID: 16 with full_address: United Kingdom UK Stoke On Trent Moorland Road 581 ST6 1DT
Updated row ID: 17 with full_address: United Kingdom UK Stoke-on-Trent London Road 333 ST4 5AG
Updated row ID: 18 with full_address: United Kingdom UK Stoke on trent Ford Green Road 141 ST6 1PF
Updated row ID: 19 with full_address: United Kingdom UK Stoke on Trent Newcastle Street 160 ST6 3QN
Updated row ID: 20 with full_address: United Kingdom UK Stoke on Trent High Street 132 ST5 1PT
Updated row ID: 21 with full_address: United Kingdom UK Peterborough Lincoln Road 35 PE1 2RH
Updated row ID: 22 with full_address: United Kingdom UK Stoke-on-Trent Hartshill 1 ST4 1QH
Updated row ID: 23 with full_address: United Kingdom UK Hampshire Queens Parade 2 RG21 7DA
Updated row ID: 24 with full_address: United Kingdom UK Meir , Stoke-on-Trent Sandon Road 28 ST3 7DL
Updated row ID: 25 with full_address: United Kingdom UK Birmingham Stratford Road 1213 B28 9AD
Updated row ID: 26 with full_address: United Kingdom UK Stoke on Trent Trinity Street 5 ST1 5RW
Updated row ID: 27 with full_address: United Kingdom UK Stoke-on-Trent Roundwell St 76 ST6 5AN
Updated row ID: 28 with full_address: United Kingdom UK Nottingham Woodborough Road 698 NG3 5GJ
Updated row ID: 29 with full_address: United Kingdom UK Newcastle-Under-Lyme Drayton Street 12 ST5 2TW
Updated row ID: 30 with full_address: United Kingdom UK Leciestershire Woodgate 54 LE3 5GF
Updated row ID: 31 with full_address: United Kingdom UK Stoke-on-Trent High Street 385 ST6 5EP
Updated row ID: 32 with full_address: United States Alabama Birmingham Bearwood roadd 477 B66 4HA
Updated row ID: 33 with full_address: United Kingdom UK Glamorgan Holton Road 37 CF63 4HB
Updated row ID: 34 with full_address: United Kingdom UK Berkshire Priestwood Square 1 RG42 1UD
Updated row ID: 35 with full_address: United Kingdom UK Cheshire Nantwich road 27 CW2 6AF
Updated row ID: 36 with full_address: United Kingdom UK London Caledonian Road 355 N7 9DQ
Updated row ID: 37 with full_address: United Kingdom UK Stoke on Trent Leek Road 1341 ST2 8BW
Updated row ID: 38 with full_address: United Kingdom UK Wallsend High Street East 90 NE28 7RH
Updated row ID: 39 with full_address: United Kingdom UK Essex Chigwell Road 644 IG8 8AF
Updated row ID: 40 with full_address: United Kingdom UK Chesterfield Neale Bank 1a S43 1BB
Updated row ID: 41 with full_address: United Kingdom UK Chesterfield Lowgates 15 S43 3TT
Updated row ID: 42 with full_address: United Kingdom UK Newcastle u lime Cambridge Court 6 ST5 3DA
Updated row ID: 43 with full_address: United Kingdom UK Stoke on Trent Liverpool Road 37 ST7 1EA
Updated row ID: 44 with full_address: United Kingdom UK Castle Bromwich Shawsdale Road 123 B36 8NG
Updated row ID: 45 with full_address: United Kingdom UK Nottinghamshire Gregory Boulevard 98 838896
Updated row ID: 46 with full_address: United Kingdom UK Nottingham 399 Nuthall Road  399 NG8 5DB
Updated row ID: 47 with full_address: United Kingdom UK Peterborough East Street 6 PE6 0EN
Updated row ID: 48 with full_address: United Kingdom UK Stoke-on-Trent London Road 27a ST5 7EA
Updated row ID: 49 with full_address: United Kingdom UK Stoke-on-Trent Ford Green Road 29 ST6 1NT
Updated row ID: 50 with full_address: United Kingdom UK Kingstanding Aldridge Road 290a B42 2SP
Updated row ID: 51 with full_address: United Kingdom UK Northamptonshire West Street 23 PE8 4EJ
Updated row ID: 52 with full_address: United Kingdom UK Burntwood Bridge Cross Road Unit 2 WS7 2BX
Updated row ID: 53 with full_address: United Kingdom UK Cheshire Church Road 215 CH42 0LD
Updated row ID: 54 with full_address: United Kingdom UK Manchester Fog Lane 244 M20 6EL
Updated row ID: 55 with full_address: United Kingdom UK South Yorkshire South Road 379 S6 3TD
Updated row ID: 56 with full_address: United Kingdom UK Greater Manchester Tonge Moor Road 87 BL2 2DL
Updated row ID: 57 with full_address: United Kingdom UK Surrey Coulsdon road 177 CR3 5NU
Updated row ID: 58 with full_address: United Kingdom UK Surrey Deepcut Bridge Road 67 GU16 6QP
Updated row ID: 59 with full_address: United Kingdom UK Denniston Duke Street 442 G31 1QL
Updated row ID: 60 with full_address: United Kingdom UK Stoke-on-Trent Newcastle Street 166 ST6 3QN
Updated row ID: 61 with full_address: United Kingdom UK West Yorkshire Woodhouse Lane 162a LS2 9HB
Updated row ID: 62 with full_address: United Kingdom UK Bournemouth Poole Road 455 BH12 1DH
Updated row ID: 63 with full_address: United Kingdom UK Leeds Roundhay Road 188b LS8 5PL
Updated row ID: 64 with full_address: United Kingdom UK Essex Hathaway Road The Clockhouse RM17 5LD
Updated row ID: 65 with full_address: United Kingdom UK Stoke-on-Trent King Street 111 ST4 3NA
Updated row ID: 66 with full_address: United Kingdom UK Nottingham Derby Road 60 NG10 4QP
Updated row ID: 67 with full_address: United Kingdom UK a
Updated row ID: 68 with full_address: United Kingdom UK Northampton New Street 46 NN11 4BU
Updated row ID: 69 with full_address: United Kingdom UK Shropshire Willow street 20 SY11 1AD
Updated row ID: 70 with full_address: United Kingdom UK Crewe High Street 18 CW2 7BN
Updated row ID: 71 with full_address: United Kingdom UK NORFOLK ST PETERS ROAD 302 NR30 3AA
Updated row ID: 72 with full_address: United Kingdom UK   12 ST5 2TW
Updated row ID: 73 with full_address: United Kingdom UK    ST6 3QN
Updated row ID: 74 with full_address: United Kingdom UK Kent Lower Stone Street 29a ME15 6LH
Updated row ID: 75 with full_address: United Kingdom UK    SS8 7RF
Updated row ID: 76 with full_address: United Kingdom UK    ST3 7AE
Updated row ID: 77 with full_address: United Kingdom UK    ST6 5DF
Updated row ID: 78 with full_address: United Kingdom UK Staffordshire Uttoxeter Road 297 ST3 5LQ
Updated row ID: 79 with full_address: United Kingdom UK Kent Camden Road 29 TN1 2PS
Updated row ID: 80 with full_address: United Kingdom UK Stoke On Trent Uttoxeter Road 782-784 ST3 7AE
Updated row ID: 81 with full_address: United Kingdom UK Nottingham Westdale Lane 8 NG4 3JA
Updated row ID: 82 with full_address: United Kingdom UK Leicestershire Syston Street West Unit 2 LE1 2JU
Updated row ID: 83 with full_address: United Kingdom UK Denbighshire High Street 208 LL19 9BP
Updated row ID: 84 with full_address: United Kingdom UK London Fauconberg Road 10 W4 3JY
Updated row ID: 85 with full_address: United Kingdom UK Kings Lynn Norfolk Street 106 PE30 1AQ
Updated row ID: 86 with full_address: United Kingdom UK
Updated row ID: 87 with full_address: United Kingdom UK Derry Strand Road 159 BT48 7PR
Updated row ID: 88 with full_address: United Kingdom UK Cheshire Wheelock Street 39 CW10 9AB
Updated row ID: 89 with full_address: United Kingdom UK Kent London Road 53 CT17 0SP
Updated row ID: 90 with full_address: United Kingdom UK London Wandsworth High Street 88 SW18 4LB
Updated row ID: 91 with full_address: United Kingdom UK Oswestry Albion Hill 8 SY11 1QA
Updated row ID: 92 with full_address: United Kingdom UK Lincolnshire London Rd 53-57 NG31 6ET
Updated row ID: 93 with full_address: United Kingdom UK Newcastle The Midway 6 ST5 1QG
Updated row ID: 94 with full_address: United Kingdom UK Lincolnshire North Street  64B PE10 9AJ
Updated row ID: 95 with full_address: United Kingdom UK Stoke-On-Trent Piccadilly 43 ST1 1EN
Updated row ID: 96 with full_address: United Kingdom UK Kent Carnation Road 41 ME2 2YE
Updated row ID: 97 with full_address: United Kingdom UK Nottingham Woodside Road 107 NG9 2SB
Updated row ID: 98 with full_address: United Kingdom UK Worcestershire Bull Ring 6 WR2 5AD
Updated row ID: 99 with full_address: United Kingdom UK Newcastle Upon Tyne Cedar Road 36 NE4 9XX
Updated row ID: 100 with full_address: United Kingdom UK Perthshire County Place 14 PH2 8EE
Updated row ID: 101 with full_address: United Kingdom UK Staffordshire Church Street 11 B79 7DH
Updated row ID: 102 with full_address: United Kingdom UK Deeside Aston Park Road 25 CH5 1UA
Updated row ID: 103 with full_address: United Kingdom UK Dorset Charminster Road 290 BH8 9RT
Updated row ID: 104 with full_address: United Kingdom UK Nottingham Main St 198a NG6 8EH
Updated row ID: 105 with full_address: United Kingdom UK Aberdeenshire Queen Street 15 AB42 1TN
Updated row ID: 106 with full_address: United Kingdom UK Hampshire High Street 2F SO50 5LA
Updated row ID: 107 with full_address: United Kingdom UK Scotland Kennedy Path 21 G4 0PP
Updated row ID: 108 with full_address: United Kingdom UK Lanarkshire Merry Street 41 ML1 1JJ
Updated row ID: 109 with full_address: United Kingdom UK Stoke-on-trent Moorland Road 58 ST6 1DT
Updated row ID: 110 with full_address: United Kingdom UK stoke-on-trent Moorland Road 58 ST6 1DT
Updated row ID: 111 with full_address: United Kingdom UK Hertfordshire Broadwater Crescent 253 SG2 8ET
Updated row ID: 112 with full_address: United Kingdom UK West Sussex middle road 7 BN43 6GA
Updated row ID: 113 with full_address: United Kingdom UK Staffordshire Mill Street 123 ST13 8EU
Updated row ID: 114 with full_address: United Kingdom UK Stoke-on-trent Moorland Road 58  ST6 1DT
Updated row ID: 115 with full_address: United Kingdom UK Stoke on trent  Moorland Road 58 ST6 1DT
Updated row ID: 116 with full_address: United Kingdom UK a Bute Street 136 CF42 6BB
Updated row ID: 117 with full_address: United Kingdom UK Wolverhampton Bilbrook Road 6 WV8 1EZ
Updated row ID: 118 with full_address: United Kingdom UK Cardiff Caerphilly Road 119 CF14 4QA
Updated row ID: 119 with full_address: United Kingdom UK Nothern Ireland Strand Road 113-119 BT48 7PA
Updated row ID: 120 with full_address: United Kingdom UK leicester Melton Road 614 LE4 8BB
Updated row ID: 121 with full_address: United Kingdom UK Dorset High Street 7 BH15 1AD
Updated row ID: 122 with full_address: United Kingdom UK Stoke-On-Trent George Street 43 ST5 1JU
Updated row ID: 123 with full_address: United Kingdom UK a London Road 152 NG2 3BQ
Updated row ID: 124 with full_address: United Kingdom UK Leigh Park Middle Parkway 405 PO9 5DP
Updated row ID: 125 with full_address: United Kingdom UK Leeds Lambert Terrace 2 LS18 5DF
Updated row ID: 126 with full_address: United Kingdom UK Brynsiencyn High Street 5 LL61 6UG
Updated row ID: 127 with full_address: United Kingdom UK Manchester Cheetham Hill Rd 459 M8 9PA
Updated row ID: 128 with full_address: United Kingdom UK Wendover Rd Wendover Rd 3SN 9 DN17 3SN
Updated row ID: 129 with full_address: United Kingdom UK Portobello Portobello High Street 249 EH15 2AW
Updated row ID: 130 with full_address: United Kingdom UK Ashford Court Wurtin 25 TN23 5NH
Updated row ID: 131 with full_address: United Kingdom UK Derby Curzon Street 15A DE1 1LH
Updated row ID: 132 with full_address: United Kingdom UK Prudhoe Front Street 46 NE42 5DB
Updated row ID: 133 with full_address: United Kingdom UK Warrington Winwick St 41 WA2 7TT
Updated row ID: 134 with full_address: United Kingdom UK a Prestwick Road 226 KA8 8NW
Updated row ID: 135 with full_address: United Kingdom UK Birmingham Coventry Road 1242 B25 8BJ
Updated row ID: 136 with full_address: United Kingdom UK Castleford Front St 51 WF10 4QF
Updated row ID: 137 with full_address: United Kingdom UK Hadley Haybridge Road 89 TF1 5JJ
Updated row ID: 138 with full_address: United Kingdom UK Tadworth Waterhouse Ln 2 KT20 6EB
Updated row ID: 139 with full_address: United Kingdom UK Middlesbrough Middlesbrough Road 8 TS6 6NR
Updated row ID: 140 with full_address: United Kingdom UK Saltcoats Countess Street 29 KA21 5HP
Updated row ID: 141 with full_address: United Kingdom UK Bishopton GREENOCK ROAD 1 PA7 5JW
Updated row ID: 142 with full_address: United Kingdom UK a The Albion Cinderhill Steet 1 NP25 5EX
Updated row ID: 143 with full_address: United Kingdom UK Yiewsley Station Road 2 UB7 7BY
Updated row ID: 144 with full_address: United Kingdom UK Wolverhampton Granary Road 11 WV8 1UZ
Updated row ID: 145 with full_address: United Kingdom UK Hull Holderness Road 693 HU8 9AN
Updated row ID: 146 with full_address: United Kingdom UK Leamington Clements Street 14 CV31 2DL
Updated row ID: 147 with full_address: United Kingdom UK Great Harwood Town Hall Street 4-6 BB6 7DD
Updated row ID: 148 with full_address: United Kingdom UK Liverpool Priory Rd 6 L4 2RY
Updated row ID: 149 with full_address: United Kingdom UK Willesden Church Road 185 NW10 9EE
Updated row ID: 150 with full_address: United Kingdom UK Derby Stenson Road 254A DE23 1HF
Updated row ID: 151 with full_address: United Kingdom UK Sheldon Coventry Road 2146A B26 3JB
Updated row ID: 152 with full_address: United Kingdom UK Swansea High Street 21 SA1 1LF
Updated row ID: 153 with full_address: United Kingdom UK Ammanford College Street 18 SA18 3AF
Updated row ID: 154 with full_address: United Kingdom UK a High Street 105 CF47 8AP
Updated row ID: 155 with full_address: United Kingdom UK Aberdare High Street 3 CF44 7AA
Updated row ID: 156 with full_address: United Kingdom UK Woking Send Road 150 GU23 7EZ
Updated row ID: 157 with full_address: United Kingdom UK Wirral New Chester Road 900 CH62 6AU
Updated row ID: 158 with full_address: United Kingdom UK Maghull Liverpool Rd N 7 L31 2HB
Updated row ID: 159 with full_address: United Kingdom UK Bromborough Bromborough Village Rd 8 CH62 7ES
Updated row ID: 160 with full_address: United Kingdom UK Canterbury Sturry Road 252 CT1 1DT
Updated row ID: 161 with full_address: United Kingdom UK New Crofton Santingley Lane 7 WF4 1LG
Updated row ID: 162 with full_address: United Kingdom UK Poynton London Rd S 43 SK12 1LA
Updated row ID: 163 with full_address: United Kingdom UK Great Harwood Queen Street 14a BB6 7QQ
Updated row ID: 164 with full_address: United Kingdom UK Basildon Bentalls Unit 17 SS14 3BS
Updated row ID: 165 with full_address: United Kingdom UK Kelty Main Street 141 KY4 0AQ
Updated row ID: 166 with full_address: United Kingdom UK a Caversham Road 206 RG1 8AZ
Updated row ID: 167 with full_address: United Kingdom UK Nottingham Ilkeston Road 119 NG7 3HE
Updated row ID: 168 with full_address: United Kingdom UK Leicester King Richards Road 107 LE3 5QG
Updated row ID: 169 with full_address: United Kingdom UK Liverpool Stonebridge Ln 122 L11 9AZ
Updated row ID: 170 with full_address: United Kingdom UK Rugeley A Upper Brook Street 1 WS15 2DP
Updated row ID: 171 with full_address: United Kingdom UK London Newcross Road 98 SE14 5BA
Updated row ID: 172 with full_address: United Kingdom UK Shirley Stratford Road 203 B90 3AH
Updated row ID: 173 with full_address: United Kingdom UK Peterborough Church Street 9 PE4 6QA
Updated row ID: 174 with full_address: United Kingdom UK Chorley Bolton Street 19 PR7 3AA
Updated row ID: 175 with full_address: United Kingdom UK Burton Borough Road 10 DE14 2DA
Updated row ID: 176 with full_address: United Kingdom UK Stoke-on-Trent Broad Street 108 ST1 4EJ
Updated row ID: 177 with full_address: United Kingdom UK Peterlee Grampian Drive Nest Fisheries SR8 2LR
Updated row ID: 178 with full_address: United Kingdom UK a Meredith Rd 13 IP1 6ED
Updated row ID: 179 with full_address: United Kingdom UK Saint Neots Montagu Street Yumi Yumi PE19 2TD
Updated row ID: 180 with full_address: United Kingdom UK Canterbury Northgate 109 CT1 1BH
Updated row ID: 181 with full_address: United Kingdom UK Coventry Acorn St 5 CV3 1DP
Updated row ID: 182 with full_address: United Kingdom UK Inverkeithing High St 46 KY11 1NN
Updated row ID: 183 with full_address: United Kingdom UK Leeds Bridge Street Bridge Street LS27 0EN
Updated row ID: 184 with full_address: United Kingdom UK a Station Approach 4 TN21 8LG
Updated row ID: 185 with full_address: United Kingdom UK Nuneaton Harefield Road 35 CV11 4HB
Updated row ID: 186 with full_address: United Kingdom UK Skelton Green Boosbeck Road 28 TS12 2DD
Updated row ID: 187 with full_address: United Kingdom UK Newcastle Coatsworth Road 53 NE8 1QL
Updated row ID: 188 with full_address: United Kingdom UK Whitley Bay Whitley Road 197 NE26 2DN
Updated row ID: 189 with full_address: United Kingdom UK a Mansel Street 11 SA1 5SF
Updated row ID: 190 with full_address: United Kingdom UK a St Helens Road 1 SA1 4AN
Updated row ID: 191 with full_address: Australia Victoria Melton West 533-555 High Street 2A 3337
Updated row ID: 192 with full_address: United Kingdom UK Hull Mollison Road 65 HU4 7HJ
Updated row ID: 193 with full_address: United Kingdom UK Liverpool Prescot Road 329A L13 3BS
Updated row ID: 194 with full_address: United Kingdom UK Middleton Wood St 8 M24 5TF
Updated row ID: 195 with full_address: United Kingdom UK Leicester Evington Road 159 LE2 1QL
Updated row ID: 196 with full_address: United Kingdom UK Esh Winning Newhouse Road 5 DH7 9JU
Updated row ID: 197 with full_address: United Kingdom UK Pontardawe High Street 21 SA8 4HU
Updated row ID: 198 with full_address: United Kingdom UK Birmingham Dettonford Road 32 B32 4HF
Updated row ID: 199 with full_address: United Kingdom UK Derby City Rd Unit B 2 DE1 3RQ
Updated row ID: 200 with full_address: United Kingdom UK a Herbert St 67 SA8 4ED
Updated row ID: 201 with full_address: United Kingdom UK a Ilkeston Road 198 NG7 3HG
Updated row ID: 202 with full_address: United Kingdom UK Lancashire Wilmslow Road 440-442 M20 3BW
Updated row ID: 203 with full_address: United Kingdom UK Blyth Druridge Dr 76 NE24 4PZ
Updated row ID: 204 with full_address: United Kingdom UK a Cowbridge Road East  327 CF5 1JD
Updated row ID: 205 with full_address: United Kingdom UK Bridgwater High Street 37 TA6 3BG
Updated row ID: 206 with full_address: United Kingdom UK Chorley Cunliffe Street 23 PR7 2BA
Updated row ID: 207 with full_address: United Kingdom UK Saltcoats Adams Ave 14 KA21 6AL
Updated row ID: 208 with full_address: United Kingdom UK Sheffield Nether Shire Ln 14 S5 0QA
Updated row ID: 209 with full_address: United Kingdom UK Bradford Idle Road 57 BD2 4NT
Updated row ID: 210 with full_address: United Kingdom UK Ashington Hawthorn Road 301 B NE63 0QS
Updated row ID: 211 with full_address: United Kingdom UK Methilhill Sea Road 153 KY8 2EE
Updated row ID: 212 with full_address: United Kingdom UK Slough Church Street 3A SL1 1PQ
Updated row ID: 213 with full_address: United Kingdom UK Fleet Fleet Road 90 GU51 4PA
Updated row ID: 214 with full_address: United Kingdom UK Pendlebury Bolton Road 594 M27 4ET
Updated row ID: 215 with full_address: United Kingdom UK a London Road 128 DE1 2SR
Updated row ID: 216 with full_address: Ireland Ireland Bray Main St 43 A98 F2R6
Updated row ID: 217 with full_address: United Kingdom UK LANCASHIRE BURY NEW ROAD 130 A M45 6AD

KeyboardInterrupt:

## mega app

In [33]:
import mysql.connector

connection = mysql.connector.connect(
    host='p3nlmysql165plsk.secureserver.net',
    user='fardadsaeid',
    password='fardadjedisaeidansari%%',
    database='megaapp'
)

cursor = connection.cursor()

In [34]:
select_query = "SELECT id, Country, Region, City, Street, Number, Postcode FROM Foodhub"
cursor.execute(select_query)
rows = cursor.fetchall()

In [36]:
update_query = """
UPDATE Foodhub
SET FullAddress = %s
WHERE id = %s
"""

for row in rows:
    id, Country, Region, City, Street, Number, Postcode = row
    full_address = (
        (Country or '') + ' ' +
        (Region or '') + ' ' +
        (City or '') + ' ' +
        (Street or '') + ' ' +
        (Number or '') + ' ' +
        (Postcode or '')
    ).strip()

    cursor.execute(update_query, (full_address, id))

    connection.commit()
    print(f"Updated row ID: {id} with full_address: {full_address}")

cursor.close()
connection.close()

Updated row ID: 1 with full_address: United Kingdom UK    810116
Updated row ID: 2 with full_address: United Kingdom UK Stoke On Trent Farndale Street 45 ST6 5DF
Updated row ID: 3 with full_address: United Kingdom UK Newcastle Under Lyme London Road 41 ST5 7EA
Updated row ID: 4 with full_address: United Kingdom UK Reading Basingstoke Road 75 RG2 0ER
Updated row ID: 5 with full_address: United Kingdom UK Stoke On Trent Crewe Road 86 ST7 2JA
Updated row ID: 6 with full_address: United Kingdom UK Cheshire Mill Street 112 SK11 6NR
Updated row ID: 7 with full_address: United Kingdom UK Stoke On Trent Waterloo Road 58 ST6 3EX
Updated row ID: 8 with full_address: United Kingdom UK Scotland East Norton Place 7 EH7 5DR
Updated row ID: 9 with full_address: United Kingdom UK Stoke-on-Trent Victoria Road 92 ST4 2JX
Updated row ID: 10 with full_address: United Kingdom UK Manchester Wilmslow Road 324-326 M14 6XQ
Updated row ID: 11 with full_address: United Kingdom UK Stoke-On-Trent Uttoxeter Road 311 ST11 9QA
Updated row ID: 12 with full_address: United Kingdom UK Stoke On Trent Commerce Street 3-5 ST3 1NW
Updated row ID: 13 with full_address: United Kingdom UK Essex Goresbrook Road 18 RM9 6UR
Updated row ID: 14 with full_address: United Kingdom UK Newcastle-Under-Lyme Cambridge Court  3 ST5 3DA
Updated row ID: 15 with full_address: United Kingdom UK Nantwich Welsh Row 19  CW5 5ED
Updated row ID: 16 with full_address: United Kingdom UK Stoke On Trent Moorland Road 581 ST6 1DT
Updated row ID: 17 with full_address: United Kingdom UK Stoke-on-Trent London Road 333 ST4 5AG
Updated row ID: 18 with full_address: United Kingdom UK Stoke on trent Ford Green Road 141 ST6 1PF
Updated row ID: 19 with full_address: United Kingdom UK Stoke on Trent Newcastle Street 160 ST6 3QN
Updated row ID: 20 with full_address: United Kingdom UK Stoke on Trent High Street 132 ST5 1PT
Updated row ID: 21 with full_address: United Kingdom UK Peterborough Lincoln Road 35 PE1 2RH
Updated row ID: 22 with full_address: United Kingdom UK Stoke-on-Trent Hartshill 1 ST4 1QH
Updated row ID: 23 with full_address: United Kingdom UK Hampshire Queens Parade 2 RG21 7DA
Updated row ID: 24 with full_address: United Kingdom UK Meir , Stoke-on-Trent Sandon Road 28 ST3 7DL
Updated row ID: 25 with full_address: United Kingdom UK Birmingham Stratford Road 1213 B28 9AD
Updated row ID: 26 with full_address: United Kingdom UK Stoke on Trent Trinity Street 5 ST1 5RW
Updated row ID: 27 with full_address: United Kingdom UK Stoke-on-Trent Roundwell St 76 ST6 5AN
Updated row ID: 28 with full_address: United Kingdom UK Nottingham Woodborough Road 698 NG3 5GJ
Updated row ID: 29 with full_address: United Kingdom UK Newcastle-Under-Lyme Drayton Street 12 ST5 2TW
Updated row ID: 30 with full_address: United Kingdom UK Leciestershire Woodgate 54 LE3 5GF
Updated row ID: 31 with full_address: United Kingdom UK Stoke-on-Trent High Street 385 ST6 5EP
Updated row ID: 32 with full_address: United States Alabama Birmingham Bearwood roadd 477 B66 4HA
Updated row ID: 33 with full_address: United Kingdom UK Glamorgan Holton Road 37 CF63 4HB
Updated row ID: 34 with full_address: United Kingdom UK Berkshire Priestwood Square 1 RG42 1UD
Updated row ID: 35 with full_address: United Kingdom UK Cheshire Nantwich road 27 CW2 6AF
Updated row ID: 36 with full_address: United Kingdom UK London Caledonian Road 355 N7 9DQ
Updated row ID: 37 with full_address: United Kingdom UK Stoke on Trent Leek Road 1341 ST2 8BW
Updated row ID: 38 with full_address: United Kingdom UK Wallsend High Street East 90 NE28 7RH
Updated row ID: 39 with full_address: United Kingdom UK Essex Chigwell Road 644 IG8 8AF
Updated row ID: 40 with full_address: United Kingdom UK Chesterfield Neale Bank 1a S43 1BB
Updated row ID: 41 with full_address: United Kingdom UK Chesterfield Lowgates 15 S43 3TT
Updated row ID: 42 with full_address: United Kingdom UK Newcastle u lime Cambridge Court 6 ST5 3DA
Updated row ID: 43 with full_address: United Kingdom UK Stoke on Trent Liverpool Road 37 ST7 1EA
Updated row ID: 44 with full_address: United Kingdom UK Castle Bromwich Shawsdale Road 123 B36 8NG
Updated row ID: 45 with full_address: United Kingdom UK Nottinghamshire Gregory Boulevard 98 838896
Updated row ID: 46 with full_address: United Kingdom UK Nottingham 399 Nuthall Road  399 NG8 5DB
Updated row ID: 47 with full_address: United Kingdom UK Peterborough East Street 6 PE6 0EN
Updated row ID: 48 with full_address: United Kingdom UK Stoke-on-Trent London Road 27a ST5 7EA
Updated row ID: 49 with full_address: United Kingdom UK Stoke-on-Trent Ford Green Road 29 ST6 1NT
Updated row ID: 50 with full_address: United Kingdom UK Kingstanding Aldridge Road 290a B42 2SP
Updated row ID: 51 with full_address: United Kingdom UK Northamptonshire West Street 23 PE8 4EJ
Updated row ID: 52 with full_address: United Kingdom UK Burntwood Bridge Cross Road Unit 2 WS7 2BX
Updated row ID: 53 with full_address: United Kingdom UK Cheshire Church Road 215 CH42 0LD
Updated row ID: 54 with full_address: United Kingdom UK Manchester Fog Lane 244 M20 6EL
Updated row ID: 55 with full_address: United Kingdom UK South Yorkshire South Road 379 S6 3TD
Updated row ID: 56 with full_address: United Kingdom UK Greater Manchester Tonge Moor Road 87 BL2 2DL
Updated row ID: 57 with full_address: United Kingdom UK Surrey Coulsdon road 177 CR3 5NU
Updated row ID: 58 with full_address: United Kingdom UK Surrey Deepcut Bridge Road 67 GU16 6QP
Updated row ID: 59 with full_address: United Kingdom UK Denniston Duke Street 442 G31 1QL
Updated row ID: 60 with full_address: United Kingdom UK Stoke-on-Trent Newcastle Street 166 ST6 3QN
Updated row ID: 61 with full_address: United Kingdom UK West Yorkshire Woodhouse Lane 162a LS2 9HB
Updated row ID: 62 with full_address: United Kingdom UK Bournemouth Poole Road 455 BH12 1DH
Updated row ID: 63 with full_address: United Kingdom UK Leeds Roundhay Road 188b LS8 5PL
Updated row ID: 64 with full_address: United Kingdom UK Essex Hathaway Road The Clockhouse RM17 5LD
Updated row ID: 65 with full_address: United Kingdom UK Stoke-on-Trent King Street 111 ST4 3NA
Updated row ID: 66 with full_address: United Kingdom UK Nottingham Derby Road 60 NG10 4QP
Updated row ID: 67 with full_address: United Kingdom UK a
Updated row ID: 68 with full_address: United Kingdom UK Northampton New Street 46 NN11 4BU
Updated row ID: 69 with full_address: United Kingdom UK Shropshire Willow street 20 SY11 1AD
Updated row ID: 70 with full_address: United Kingdom UK Crewe High Street 18 CW2 7BN
Updated row ID: 71 with full_address: United Kingdom UK NORFOLK ST PETERS ROAD 302 NR30 3AA
Updated row ID: 72 with full_address: United Kingdom UK   12 ST5 2TW
Updated row ID: 73 with full_address: United Kingdom UK    ST6 3QN
Updated row ID: 74 with full_address: United Kingdom UK Kent Lower Stone Street 29a ME15 6LH
Updated row ID: 75 with full_address: United Kingdom UK    SS8 7RF
Updated row ID: 76 with full_address: United Kingdom UK    ST3 7AE
Updated row ID: 77 with full_address: United Kingdom UK    ST6 5DF
Updated row ID: 78 with full_address: United Kingdom UK Staffordshire Uttoxeter Road 297 ST3 5LQ
Updated row ID: 79 with full_address: United Kingdom UK Kent Camden Road 29 TN1 2PS
Updated row ID: 80 with full_address: United Kingdom UK Stoke On Trent Uttoxeter Road 782-784 ST3 7AE
Updated row ID: 81 with full_address: United Kingdom UK Nottingham Westdale Lane 8 NG4 3JA
Updated row ID: 82 with full_address: United Kingdom UK Leicestershire Syston Street West Unit 2 LE1 2JU
Updated row ID: 83 with full_address: United Kingdom UK Denbighshire High Street 208 LL19 9BP
Updated row ID: 84 with full_address: United Kingdom UK London Fauconberg Road 10 W4 3JY
Updated row ID: 85 with full_address: United Kingdom UK Kings Lynn Norfolk Street 106 PE30 1AQ
Updated row ID: 86 with full_address: United Kingdom UK
Updated row ID: 87 with full_address: United Kingdom UK Derry Strand Road 159 BT48 7PR
Updated row ID: 88 with full_address: United Kingdom UK Cheshire Wheelock Street 39 CW10 9AB
Updated row ID: 89 with full_address: United Kingdom UK Kent London Road 53 CT17 0SP
Updated row ID: 90 with full_address: United Kingdom UK London Wandsworth High Street 88 SW18 4LB
Updated row ID: 91 with full_address: United Kingdom UK Oswestry Albion Hill 8 SY11 1QA
Updated row ID: 92 with full_address: United Kingdom UK Lincolnshire London Rd 53-57 NG31 6ET
Updated row ID: 93 with full_address: United Kingdom UK Newcastle The Midway 6 ST5 1QG
Updated row ID: 94 with full_address: United Kingdom UK Lincolnshire North Street  64B PE10 9AJ
Updated row ID: 95 with full_address: United Kingdom UK Stoke-On-Trent Piccadilly 43 ST1 1EN
Updated row ID: 96 with full_address: United Kingdom UK Kent Carnation Road 41 ME2 2YE
Updated row ID: 97 with full_address: United Kingdom UK Nottingham Woodside Road 107 NG9 2SB
Updated row ID: 98 with full_address: United Kingdom UK Worcestershire Bull Ring 6 WR2 5AD
Updated row ID: 99 with full_address: United Kingdom UK Newcastle Upon Tyne Cedar Road 36 NE4 9XX
Updated row ID: 100 with full_address: United Kingdom UK Perthshire County Place 14 PH2 8EE
Updated row ID: 101 with full_address: United Kingdom UK Staffordshire Church Street 11 B79 7DH
Updated row ID: 102 with full_address: United Kingdom UK Deeside Aston Park Road 25 CH5 1UA
Updated row ID: 103 with full_address: United Kingdom UK Dorset Charminster Road 290 BH8 9RT
Updated row ID: 104 with full_address: United Kingdom UK Nottingham Main St 198a NG6 8EH
Updated row ID: 105 with full_address: United Kingdom UK Aberdeenshire Queen Street 15 AB42 1TN
Updated row ID: 106 with full_address: United Kingdom UK Hampshire High Street 2F SO50 5LA
Updated row ID: 107 with full_address: United Kingdom UK Scotland Kennedy Path 21 G4 0PP
Updated row ID: 108 with full_address: United Kingdom UK Lanarkshire Merry Street 41 ML1 1JJ
Updated row ID: 109 with full_address: United Kingdom UK Stoke-on-trent Moorland Road 58 ST6 1DT
Updated row ID: 110 with full_address: United Kingdom UK stoke-on-trent Moorland Road 58 ST6 1DT
Updated row ID: 111 with full_address: United Kingdom UK Hertfordshire Broadwater Crescent 253 SG2 8ET
Updated row ID: 112 with full_address: United Kingdom UK West Sussex middle road 7 BN43 6GA
Updated row ID: 113 with full_address: United Kingdom UK Staffordshire Mill Street 123 ST13 8EU
Updated row ID: 114 with full_address: United Kingdom UK Stoke-on-trent Moorland Road 58  ST6 1DT
Updated row ID: 115 with full_address: United Kingdom UK Stoke on trent  Moorland Road 58 ST6 1DT
Updated row ID: 116 with full_address: United Kingdom UK a Bute Street 136 CF42 6BB
Updated row ID: 117 with full_address: United Kingdom UK Wolverhampton Bilbrook Road 6 WV8 1EZ
Updated row ID: 118 with full_address: United Kingdom UK Cardiff Caerphilly Road 119 CF14 4QA
Updated row ID: 119 with full_address: United Kingdom UK Nothern Ireland Strand Road 113-119 BT48 7PA
Updated row ID: 120 with full_address: United Kingdom UK leicester Melton Road 614 LE4 8BB
Updated row ID: 121 with full_address: United Kingdom UK Dorset High Street 7 BH15 1AD
Updated row ID: 122 with full_address: United Kingdom UK Stoke-On-Trent George Street 43 ST5 1JU
Updated row ID: 123 with full_address: United Kingdom UK a London Road 152 NG2 3BQ
Updated row ID: 124 with full_address: United Kingdom UK Leigh Park Middle Parkway 405 PO9 5DP
Updated row ID: 125 with full_address: United Kingdom UK Leeds Lambert Terrace 2 LS18 5DF
Updated row ID: 126 with full_address: United Kingdom UK Brynsiencyn High Street 5 LL61 6UG
Updated row ID: 127 with full_address: United Kingdom UK Manchester Cheetham Hill Rd 459 M8 9PA
Updated row ID: 128 with full_address: United Kingdom UK Wendover Rd Wendover Rd 3SN 9 DN17 3SN
Updated row ID: 129 with full_address: United Kingdom UK Portobello Portobello High Street 249 EH15 2AW
Updated row ID: 130 with full_address: United Kingdom UK Ashford Court Wurtin 25 TN23 5NH
Updated row ID: 131 with full_address: United Kingdom UK Derby Curzon Street 15A DE1 1LH
Updated row ID: 132 with full_address: United Kingdom UK Prudhoe Front Street 46 NE42 5DB
Updated row ID: 133 with full_address: United Kingdom UK Warrington Winwick St 41 WA2 7TT
Updated row ID: 134 with full_address: United Kingdom UK a Prestwick Road 226 KA8 8NW
Updated row ID: 135 with full_address: United Kingdom UK Birmingham Coventry Road 1242 B25 8BJ
Updated row ID: 136 with full_address: United Kingdom UK Castleford Front St 51 WF10 4QF
Updated row ID: 137 with full_address: United Kingdom UK Hadley Haybridge Road 89 TF1 5JJ
Updated row ID: 138 with full_address: United Kingdom UK Tadworth Waterhouse Ln 2 KT20 6EB
Updated row ID: 139 with full_address: United Kingdom UK Middlesbrough Middlesbrough Road 8 TS6 6NR
Updated row ID: 140 with full_address: United Kingdom UK Saltcoats Countess Street 29 KA21 5HP
Updated row ID: 141 with full_address: United Kingdom UK Bishopton GREENOCK ROAD 1 PA7 5JW
Updated row ID: 142 with full_address: United Kingdom UK a The Albion Cinderhill Steet 1 NP25 5EX
Updated row ID: 143 with full_address: United Kingdom UK Yiewsley Station Road 2 UB7 7BY
Updated row ID: 144 with full_address: United Kingdom UK Wolverhampton Granary Road 11 WV8 1UZ
Updated row ID: 145 with full_address: United Kingdom UK Hull Holderness Road 693 HU8 9AN
Updated row ID: 146 with full_address: United Kingdom UK Leamington Clements Street 14 CV31 2DL
Updated row ID: 147 with full_address: United Kingdom UK Great Harwood Town Hall Street 4-6 BB6 7DD
Updated row ID: 148 with full_address: United Kingdom UK Liverpool Priory Rd 6 L4 2RY
Updated row ID: 149 with full_address: United Kingdom UK Willesden Church Road 185 NW10 9EE
Updated row ID: 150 with full_address: United Kingdom UK Derby Stenson Road 254A DE23 1HF
Updated row ID: 151 with full_address: United Kingdom UK Sheldon Coventry Road 2146A B26 3JB
Updated row ID: 152 with full_address: United Kingdom UK Swansea High Street 21 SA1 1LF
Updated row ID: 153 with full_address: United Kingdom UK Ammanford College Street 18 SA18 3AF
Updated row ID: 154 with full_address: United Kingdom UK a High Street 105 CF47 8AP
Updated row ID: 155 with full_address: United Kingdom UK Aberdare High Street 3 CF44 7AA
Updated row ID: 156 with full_address: United Kingdom UK Woking Send Road 150 GU23 7EZ
Updated row ID: 157 with full_address: United Kingdom UK Wirral New Chester Road 900 CH62 6AU
Updated row ID: 158 with full_address: United Kingdom UK Maghull Liverpool Rd N 7 L31 2HB
Updated row ID: 159 with full_address: United Kingdom UK Bromborough Bromborough Village Rd 8 CH62 7ES
Updated row ID: 160 with full_address: United Kingdom UK Canterbury Sturry Road 252 CT1 1DT
Updated row ID: 161 with full_address: United Kingdom UK New Crofton Santingley Lane 7 WF4 1LG
Updated row ID: 162 with full_address: United Kingdom UK Poynton London Rd S 43 SK12 1LA
Updated row ID: 163 with full_address: United Kingdom UK Great Harwood Queen Street 14a BB6 7QQ
Updated row ID: 164 with full_address: United Kingdom UK Basildon Bentalls Unit 17 SS14 3BS
Updated row ID: 165 with full_address: United Kingdom UK Kelty Main Street 141 KY4 0AQ
Updated row ID: 166 with full_address: United Kingdom UK a Caversham Road 206 RG1 8AZ
Updated row ID: 167 with full_address: United Kingdom UK Nottingham Ilkeston Road 119 NG7 3HE
Updated row ID: 168 with full_address: United Kingdom UK Leicester King Richards Road 107 LE3 5QG
Updated row ID: 169 with full_address: United Kingdom UK Liverpool Stonebridge Ln 122 L11 9AZ
Updated row ID: 170 with full_address: United Kingdom UK Rugeley A Upper Brook Street 1 WS15 2DP
Updated row ID: 171 with full_address: United Kingdom UK London Newcross Road 98 SE14 5BA
Updated row ID: 172 with full_address: United Kingdom UK Shirley Stratford Road 203 B90 3AH
Updated row ID: 173 with full_address: United Kingdom UK Peterborough Church Street 9 PE4 6QA
Updated row ID: 174 with full_address: United Kingdom UK Chorley Bolton Street 19 PR7 3AA
Updated row ID: 175 with full_address: United Kingdom UK Burton Borough Road 10 DE14 2DA
Updated row ID: 176 with full_address: United Kingdom UK Stoke-on-Trent Broad Street 108 ST1 4EJ
Updated row ID: 177 with full_address: United Kingdom UK Peterlee Grampian Drive Nest Fisheries SR8 2LR
Updated row ID: 178 with full_address: United Kingdom UK a Meredith Rd 13 IP1 6ED
Updated row ID: 179 with full_address: United Kingdom UK Saint Neots Montagu Street Yumi Yumi PE19 2TD
Updated row ID: 180 with full_address: United Kingdom UK Canterbury Northgate 109 CT1 1BH
Updated row ID: 181 with full_address: United Kingdom UK Coventry Acorn St 5 CV3 1DP
Updated row ID: 182 with full_address: United Kingdom UK Inverkeithing High St 46 KY11 1NN
Updated row ID: 183 with full_address: United Kingdom UK Leeds Bridge Street Bridge Street LS27 0EN
Updated row ID: 184 with full_address: United Kingdom UK a Station Approach 4 TN21 8LG
Updated row ID: 185 with full_address: United Kingdom UK Nuneaton Harefield Road 35 CV11 4HB
Updated row ID: 186 with full_address: United Kingdom UK Skelton Green Boosbeck Road 28 TS12 2DD
Updated row ID: 187 with full_address: United Kingdom UK Newcastle Coatsworth Road 53 NE8 1QL
Updated row ID: 188 with full_address: United Kingdom UK Whitley Bay Whitley Road 197 NE26 2DN
Updated row ID: 189 with full_address: United Kingdom UK a Mansel Street 11 SA1 5SF
Updated row ID: 190 with full_address: United Kingdom UK a St Helens Road 1 SA1 4AN
Updated row ID: 191 with full_address: Australia Victoria Melton West 533-555 High Street 2A 3337
Updated row ID: 192 with full_address: United Kingdom UK Hull Mollison Road 65 HU4 7HJ
Updated row ID: 193 with full_address: United Kingdom UK Liverpool Prescot Road 329A L13 3BS
Updated row ID: 194 with full_address: United Kingdom UK Middleton Wood St 8 M24 5TF
Updated row ID: 195 with full_address: United Kingdom UK Leicester Evington Road 159 LE2 1QL
Updated row ID: 196 with full_address: United Kingdom UK Esh Winning Newhouse Road 5 DH7 9JU
Updated row ID: 197 with full_address: United Kingdom UK Pontardawe High Street 21 SA8 4HU
Updated row ID: 198 with full_address: United Kingdom UK Birmingham Dettonford Road 32 B32 4HF
Updated row ID: 199 with full_address: United Kingdom UK Derby City Rd Unit B 2 DE1 3RQ
Updated row ID: 200 with full_address: United Kingdom UK a Herbert St 67 SA8 4ED
Updated row ID: 201 with full_address: United Kingdom UK a Ilkeston Road 198 NG7 3HG
Updated row ID: 202 with full_address: United Kingdom UK Lancashire Wilmslow Road 440-442 M20 3BW
Updated row ID: 203 with full_address: United Kingdom UK Blyth Druridge Dr 76 NE24 4PZ
Updated row ID: 204 with full_address: United Kingdom UK a Cowbridge Road East  327 CF5 1JD
Updated row ID: 205 with full_address: United Kingdom UK Bridgwater High Street 37 TA6 3BG
Updated row ID: 206 with full_address: United Kingdom UK Chorley Cunliffe Street 23 PR7 2BA
Updated row ID: 207 with full_address: United Kingdom UK Saltcoats Adams Ave 14 KA21 6AL
Updated row ID: 208 with full_address: United Kingdom UK Sheffield Nether Shire Ln 14 S5 0QA
Updated row ID: 209 with full_address: United Kingdom UK Bradford Idle Road 57 BD2 4NT
Updated row ID: 210 with full_address: United Kingdom UK Ashington Hawthorn Road 301 B NE63 0QS
Updated row ID: 211 with full_address: United Kingdom UK Methilhill Sea Road 153 KY8 2EE
Updated row ID: 212 with full_address: United Kingdom UK Slough Church Street 3A SL1 1PQ
Updated row ID: 213 with full_address: United Kingdom UK Fleet Fleet Road 90 GU51 4PA
Updated row ID: 214 with full_address: United Kingdom UK Pendlebury Bolton Road 594 M27 4ET
Updated row ID: 215 with full_address: United Kingdom UK a London Road 128 DE1 2SR
Updated row ID: 216 with full_address: Ireland Ireland Bray Main St 43 A98 F2R6
Updated row ID: 217 with full_address: United Kingdom UK LANCASHIRE BURY NEW ROAD 130 A M45 6AD